## Survivor Data Analysis Project

### Introduction to Data

This data is found in an R package called survivoR which contains a collection of data sets with information from the Survivor show from multiple countries: US, Australia, South Africa, and New Zealand. It contains castaway information, vote history, immunity and reward challenge winners, jury votes, advantage details and much more. 

Our goal is to find the attributes which can be used to predict the winner of the Survivor season.

### Purpose of the Data

The survivor data was collected to draw insights and answer questions one may have when coming to the game of “Survivor.” Examples on why people may want to use the data is dive into seeing if their are certain attributes that the people who win the show share.

### Import Dependencies

In [13]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import math
import os

In [14]:
data_dir = 'C:/Users/bejes/OneDrive/School/ML/Code/Project1/survivorData'

### Read in csv files as Dataframes

In [15]:
# List of CSV file names
csv_files = [
    'advantage_movement.csv',
    'boot_mapping.csv',
    'castaways.csv',
    'castaway_details.csv',
    'challenge_description.csv',
    'challenge_results.csv',
    'confessionals.csv',
    'jury_votes.csv',
    'screen_time.csv',
    'season_palettes.csv',
    'season_summary.csv',
    'survivor_auction.csv',
    'tribe_colours.csv',
    'tribe_mapping.csv',
    'viewers.csv',
    'vote_history.csv'
]

# Create a dictionary to store the DataFrames
dataframes = {}

# Loop through each CSV file and read its data into a DataFrame
for csv_file in csv_files:
    # Specify the relative path to the CSV file
    file_path = os.path.join(data_dir, csv_file)
    
    # Read the data from the CSV file into a pandas DataFrame
    df = pd.read_csv(file_path)
    
    # Store the DataFrame in the dictionary
    dataframes[csv_file] = df
    
    # Print the head of the DataFrame
    # print(f'{csv_file}:')
    # print(df.head())
    
# Print out the head of the castaways.csv data
print(dataframes['castaways.csv'].head())

  version version_season               season_name  season        full_name  \
0      AU           AU01  Survivor Australia: 2016       1       Des Quilty
1      AU           AU01  Survivor Australia: 2016       1  Bianca Anderson
2      AU           AU01  Survivor Australia: 2016       1       Evan Jones
3      AU           AU01  Survivor Australia: 2016       1   Peter Fiegehen
4      AU           AU01  Survivor Australia: 2016       1        Barry Lea

  castaway_id castaway  age            city state  episode   day  order  \
0      AU0001      Des   59  Sunshine Coast   QLD      1.0   2.0    1.0
1      AU0002   Bianca   36       Melbourne   VIC      2.0   5.0    2.0
2      AU0003     Evan   30       Melbourne   VIC      3.0   8.0    3.0
3      AU0004    Peter   62        Canberra   ACT      4.0  10.0    4.0
4      AU0005    Barry   44          Cairns   QLD      6.0  14.0    5.0

          result jury_status original_tribe  result_number
0  1st voted out         NaN         Aganoa            NaN
1  2nd voted out         NaN        Saanapu            NaN
2  3rd voted out         NaN         Aganoa            NaN
3           Quit         NaN        Saanapu            NaN
4  4th voted out         NaN          Vavau            NaN

In [16]:
advantage_movement = dataframes['advantage_movement.csv']
boot_mapping = dataframes['boot_mapping.csv']
castaway_details =  dataframes['castaway_details.csv']
castaways =  dataframes['castaways.csv']
challenge_description =  dataframes['challenge_description.csv']
challenge_results =  dataframes['challenge_results.csv']
confessionals =  dataframes['confessionals.csv']
jury_votes =  dataframes['jury_votes.csv']
screen_time =  dataframes['screen_time.csv']
season_palettes =  dataframes['season_palettes.csv']
season_summary =  dataframes['season_summary.csv']
survivor_autction =  dataframes['survivor_auction.csv']
tribe_colors =  dataframes['tribe_colours.csv']
tribe_mapping =  dataframes['tribe_mapping.csv']
viewers =  dataframes['viewers.csv']
vote_history =  dataframes['vote_history.csv']

## Data Exploration

#### Missing Values

There are missing values in almost all the tables apart of this Survivor data. Columns such as "race" and "personality_type" have many NA's. It would be very time consuming to manually fill these in, but doing so would allow us to use these columns in future models, and possibly find out that race and personality type play a big role in winning Survivor. 

Shown below is a total of 977 rows in the castaway_details table, and we are missing 766 peoples race, which is a big chunk of missing data if we wanted to model as accurately as possible.

In [45]:
print(len(castaway_details))
castaway_details.isna().sum()

977

castaway_id             0
full_name               2
full_name_detailed      2
castaway                0
date_of_birth         214
date_of_death         964
gender                  0
race                  766
ethnicity             864
poc                   315
occupation             40
personality_type      321
dtype: int64

#### Season Summary

This table contains summary details of each season of Survivor, including the winner, runner ups and location.

In [31]:
season_summary.info()
season_summary.head()
season_summary.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   version           62 non-null     object
 1   version_season    62 non-null     object
 2   season_name       62 non-null     object
 3   season            62 non-null     int64
 4   n_cast            62 non-null     int64
 5   location          60 non-null     object
 6   country           62 non-null     object
 7   tribe_setup       62 non-null     object
 8   full_name         61 non-null     object
 9   winner_id         61 non-null     object
 10  winner            61 non-null     object
 11  runner_ups        61 non-null     object
 12  final_vote        61 non-null     object
 13  timeslot          48 non-null     object
 14  premiered         62 non-null     object
 15  ended             62 non-null     object
 16  filming_started   62 non-null     object
 17  filming_ended     62 non-null     object
 18  viewers_premiere  44 non-null     float64
 19  viewers_finale    43 non-null     float64
 20  viewers_reunion   42 non-null     float64
 21  viewers_mean      40 non-null     float64
 22  rank              38 non-null     float64
dtypes: float64(5), int64(2), object(16)
memory usage: 11.3+ KB

,season,n_cast,viewers_premiere,viewers_finale,viewers_reunion,viewers_mean,rank
count,62.000000,62.000000,44.000000,43.000000,42.000000,40.000000,38.000000
mean,17.290323,19.016129,32331.880455,36735.523256,12107.071190,32652.717038,16.684211
std,13.625419,2.505678,150612.284433,168907.735458,78384.231661,144347.279744,9.424251
min,1.000000,14.000000,5.040000,5.820000,4.000000,9.430000,1.000000
25%,5.250000,18.000000,9.285000,9.560000,6.695000,11.300000,8.250000
50%,13.500000,18.000000,11.945000,13.300000,11.435000,13.235000,16.000000
75%,28.750000,20.000000,19.415000,20.990000,15.225000,20.150000,25.000000
max,44.000000,24.000000,783000.000000,859000.000000,508000.000000,691769.230769,32.000000

In [18]:
winner_df = season_summary[["version_season", "winner_id"]]
winner_df.head()

  version_season winner_id
0           AU01    AU0024
1           AU02    AU0048
2           AU03    AU0071
3           AU04    AU0094
4           AU05    AU0086

#### Castaways

This data contains season and demographic information about each castaway with the results for each season. Castaways that have played in more than one season are features more than once with their age and location representing that point in time. 

Each castaway has a unique castaway_id which links the individual across all the data sets and seasons. It also links to the following ID’s found on the vote_history, jury_votes and challenges data sets.

    - vote_id
    - voted_out_id
    - finalist_id

In [19]:
castaways.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1204 entries, 0 to 1203
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   version         1204 non-null   object
 1   version_season  1204 non-null   object
 2   season_name     1204 non-null   object
 3   season          1204 non-null   int64
 4   full_name       1204 non-null   object
 5   castaway_id     1204 non-null   object
 6   castaway        1204 non-null   object
 7   age             1204 non-null   int64
 8   city            1189 non-null   object
 9   state           1185 non-null   object
 10  episode         1195 non-null   float64
 11  day             1195 non-null   float64
 12  order           1195 non-null   float64
 13  result          1195 non-null   object
 14  jury_status     519 non-null    object
 15  original_tribe  1204 non-null   object
 16  result_number   9 non-null      float64
dtypes: float64(4), int64(2), object(11)
memory usage: 160.0+ KB

#### Castaway Details

This dataset has more detailed information about each castaway including name changes for castaways that have played multiple times. It also includes gender, data of birth, occupation, race and ethnicity data. If no source was found to determine a castaways race and ethnicity, the data is kept as missing rather than making an assumption. This makes it more difficult for us to use attributes such as race and ethnicity which only have 211 and 113 non-null values, respectively.

In [20]:
castaway_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 977 entries, 0 to 976
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   castaway_id         977 non-null    object
 1   full_name           975 non-null    object
 2   full_name_detailed  975 non-null    object
 3   castaway            977 non-null    object
 4   date_of_birth       763 non-null    object
 5   date_of_death       13 non-null     object
 6   gender              977 non-null    object
 7   race                211 non-null    object
 8   ethnicity           113 non-null    object
 9   poc                 662 non-null    object
 10  occupation          937 non-null    object
 11  personality_type    656 non-null    object
dtypes: object(12)
memory usage: 91.7+ KB

#### Advantage Movement

This table tracks who found an advantage, who they may have handed it to and who they played for. Each step is called an event and the sequence_id tracks the logical step of the advantage.

In [21]:
advantage_movement.head()

,version,version_season,season_name,season,castaway,castaway_id,advantage_id,sequence_id,day,episode,event,played_for,played_for_id,success,votes_nullified
0,AU,AU01,Survivor Australia: 2016,1,Brooke,AU0018,AUAD0101,1,29.0,NaN,Found,NaN,NaN,NaN,NaN
1,AU,AU01,Survivor Australia: 2016,1,Sam,AU0019,AUCA0101,1,48.0,NaN,Won,NaN,NaN,NaN,NaN
2,AU,AU01,Survivor Australia: 2016,1,El,AU0022,AUCA0101,1,48.0,NaN,Won,NaN,NaN,NaN,NaN
3,AU,AU01,Survivor Australia: 2016,1,Lee,AU0023,AUCA0101,1,48.0,NaN,Won,NaN,NaN,NaN,NaN
4,AU,AU01,Survivor Australia: 2016,1,Sam,AU0019,AUCA0101,2,49.0,23.0,Played,NaN,NaN,Yes,NaN

#### Screen Time

This table contains the estimated screen time for each castaway during an episode. It is under development and only contains data for Season 42 (148 values) so we may not be able to use this data to make predictions for all seasons.

In [22]:
screen_time # can't really use only for season 42

    version_season  episode castaway_id  screen_time
0             US42        1      US0618          148
1             US42        1      US0609          159
2             US42        1      US0622          169
3             US42        1      US0616          176
4             US42        1      US0612          190
..             ...      ...         ...          ...
145           US42       13      US0616         1024
146           US42       13      US0623         1058
147           US42       13      US0615         1139
148           US42       13        host         1190
149           US42       13      US0619         1617

[150 rows x 4 columns]

#### Confessionals

This dataset contains the number of confessionals for each castaway by season and episode. There are 11,461 values for the confessional_count attribute so this would be a very good attribute to use in our analysis.

In [23]:
confessionals.describe()
confessionals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11461 entries, 0 to 11460
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   version             11461 non-null  object
 1   version_season      11461 non-null  object
 2   season_name         11461 non-null  object
 3   season              11461 non-null  int64
 4   episode             11461 non-null  int64
 5   castaway            11461 non-null  object
 6   castaway_id         11461 non-null  object
 7   confessional_count  11461 non-null  int64
 8   confessional_time   541 non-null    float64
 9   index_count         11461 non-null  float64
 10  index_time          541 non-null    float64
dtypes: float64(3), int64(3), object(5)
memory usage: 985.1+ KB

#### Challenge Results

This data frame contains immunity and reward challenge results along with their winners and losers. There are 18,142 non-null values for challenge results so this could be a good potential predictor in our model.

In [24]:
challenge_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18142 entries, 0 to 18141
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   version            18142 non-null  object
 1   version_season     18142 non-null  object
 2   season_name        18142 non-null  object
 3   season             18142 non-null  int64
 4   episode            18142 non-null  int64
 5   n_boots            18142 non-null  int64
 6   castaway_id        18142 non-null  object
 7   castaway           18142 non-null  object
 8   tribe              18015 non-null  object
 9   tribe_status       18142 non-null  object
 10  challenge_name     17623 non-null  object
 11  challenge_type     18142 non-null  object
 12  outcome_type       18142 non-null  object
 13  result             18142 non-null  object
 14  chosen_for_reward  18142 non-null  bool
 15  challenge_id       18142 non-null  object
 16  sit_out            11703 non-null  object
dtypes: bool(1), int64(3), object(13)
memory usage: 2.2+ MB

### Challenge Description 

This dataset contains binary fields for each challenge. The following are features of challenges documented: 

- puzzle: If the challenge contains a puzzle element.
- race: If the challenge is a race between tribes, teams or individuals.
- precision: If the challenge contains a precision element e.g. shooting an arrow, hitting a target, etc.
- endurance: If the challenge is an endurance event e.g. last tribe, team, individual standing.
- strength: If the challenge is largerly strength based e.g. Shoulder the Load.
- turn_based: If the challenge is conducted in a series of rounds until a certain amount of points are scored or there is one player remaining.
- balance: If the challenge contains a balancing element.
- food: If the challenge contains a food element e.g. the food challenge, biting off chunks of meat.
- knowledge: If the challenge contains a knowledge component e.g. Q and A about the location.
- memory: If the challenge contains a memory element e.g. memorising a sequence of items.
- fire: If the challenge contains an element of fire making / maintaining.
- water: If the challenge is held, in part, in the water.

In [25]:
challenge_description.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1396 entries, 0 to 1395
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   challenge_id    1396 non-null   object
 1   challenge_name  1356 non-null   object
 2   puzzle          1356 non-null   object
 3   race            1356 non-null   object
 4   precision       1356 non-null   object
 5   endurance       1356 non-null   object
 6   strength        1356 non-null   object
 7   turn_based      1356 non-null   object
 8   balance         1356 non-null   object
 9   food            1356 non-null   object
 10  knowledge       1356 non-null   object
 11  memory          1356 non-null   object
 12  fire            1356 non-null   object
 13  water           1356 non-null   object
dtypes: object(14)
memory usage: 152.8+ KB

#### Jury Votes

This data frame contains the history of jury votes. The vote column contains a 0 or 1 indicating if a vote was placed or not on a player.

In [26]:
jury_votes.info()
jury_votes.head(30)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1353 entries, 0 to 1352
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   version         1353 non-null   object
 1   version_season  1353 non-null   object
 2   season_name     1353 non-null   object
 3   season          1353 non-null   int64
 4   castaway        1329 non-null   object
 5   finalist        1329 non-null   object
 6   vote            1329 non-null   float64
 7   castaway_id     1329 non-null   object
 8   finalist_id     1329 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 95.3+ KB

,version,version_season,season_name,season,castaway,finalist,vote,castaway_id,finalist_id
0,AU,AU01,Survivor Australia: 2016,1,Nick,Lee,0.0,AU0014,AU0023
1,AU,AU01,Survivor Australia: 2016,1,Kylie,Lee,0.0,AU0015,AU0023
2,AU,AU01,Survivor Australia: 2016,1,Sue,Lee,0.0,AU0016,AU0023
3,AU,AU01,Survivor Australia: 2016,1,Jennah-Louise,Lee,0.0,AU0017,AU0023
4,AU,AU01,Survivor Australia: 2016,1,Brooke,Lee,0.0,AU0018,AU0023
5,AU,AU01,Survivor Australia: 2016,1,Sam,Lee,0.0,AU0019,AU0023
6,AU,AU01,Survivor Australia: 2016,1,Matt,Lee,0.0,AU0020,AU0023
7,AU,AU01,Survivor Australia: 2016,1,Flick,Lee,0.0,AU0021,AU0023
8,AU,AU01,Survivor Australia: 2016,1,El,Lee,1.0,AU0022,AU0023
9,AU,AU01,Survivor Australia: 2016,1,Nick,Kristie,1.0,AU0014,AU0024
10,AU,AU01,Survivor Australia: 2016,1,Kylie,Kristie,1.0,AU0015,AU0024
11,AU,AU01,Survivor Australia: 2016,1,Sue,Kristie,1.0,AU0016,AU0024
12,AU,AU01,Survivor Australia: 2016,1,Jennah-Louise,Kristie,1.0,AU0017,AU0024
13,AU,AU01,Survivor Australia: 2016,1,Brooke,Kristie,1.0,AU0018,AU0024
14,AU,AU01,Survivor Australia: 2016,1,Sam,Kristie,1.0,AU0019,AU0024
15,AU,AU01,Survivor Australia: 2016,1,Matt,Kristie,1.0,AU0020,AU0024
16,AU,AU01,Survivor Australia: 2016,1,Flick,Kristie,1.0,AU0021,AU0024
17,AU,AU01,Survivor Australia: 2016,1,El,Kristie,0.0,AU0022,AU0024
18,AU,AU02,Survivor Australia: 2017,2,Jarrad,Jericho,1.0,AU0037,AU0048
19,AU,AU02,Survivor Australia: 2017,2,Anneliese,Jericho,1.0,AU0038,AU0048
20,AU,AU02,Survivor Australia: 2017,2,Henry,Jericho,1.0,AU0039,AU0048
21,AU,AU02,Survivor Australia: 2017,2,Sarah,Jericho,0.0,AU0041,AU0048
22,AU,AU02,Survivor Australia: 2017,2,Luke,Jericho,1.0,AU0042,AU0048
23,AU,AU02,Survivor Australia: 2017,2,Ziggy,Jericho,1.0,AU0043,AU0048
24,AU,AU02,Survivor Australia: 2017,2,Locky,Jericho,0.0,AU0044,AU0048
25,AU,AU02,Survivor Australia: 2017,2,Michelle,Jericho,1.0,AU0045,AU0048
26,AU,AU02,Survivor Australia: 2017,2,Peter,Jericho,0.0,AU0046,AU0048
27,AU,AU02,Survivor Australia: 2017,2,Jarrad,Tara,0.0,AU0037,AU0047
28,AU,AU02,Survivor Australia: 2017,2,Anneliese,Tara,0.0,AU0038,AU0047
29,AU,AU02,Survivor Australia: 2017,2,Henry,Tara,0.0,AU0039,AU0047

#### Vote History

This dataframe contains a complete history of votes across all seasons of Survivor documenting who votes for who at which Tribal Council. It also includes details about who had individual immunity or their votes nullified by hidden imminuty idol. There are 7,529 non-null values for the vote attribute so this could be a good potential predictor in our model.

In [27]:
vote_history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7942 entries, 0 to 7941
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   version             7942 non-null   object
 1   version_season      7942 non-null   object
 2   season_name         7942 non-null   object
 3   season              7942 non-null   int64
 4   episode             7942 non-null   int64
 5   day                 7942 non-null   int64
 6   tribe_status        7942 non-null   object
 7   tribe               7942 non-null   object
 8   castaway            7934 non-null   object
 9   immunity            797 non-null    object
 10  vote                7529 non-null   object
 11  vote_event          481 non-null    object
 12  vote_event_outcome  457 non-null    object
 13  split_vote          408 non-null    object
 14  nullified           7940 non-null   object
 15  tie                 7837 non-null   object
 16  voted_out           7934 non-null   object
 17  order               7927 non-null   float64
 18  vote_order          7935 non-null   float64
 19  castaway_id         7934 non-null   object
 20  vote_id             7547 non-null   object
 21  voted_out_id        7934 non-null   object
dtypes: float64(2), int64(3), object(17)
memory usage: 1.3+ MB

In [28]:
merged_df = vote_history.merge(winner_df, how='left', on='version_season')
merged_df.dropna(subset=['winner_id'], inplace=True)
# Create a new column indicating if the player is a winner
#merged_df['IsWinner'] = ~merged_df['winner_id'].isna()
grouped_votes = merged_df.groupby('version_season')

# Define a function to determine if a player won in a season
def check_if_winner(group):
    group['IsWinner'] = group['castaway_id'] == group['winner_id']
    return group

new_df = grouped_votes.apply(check_if_winner).reset_index(drop=True)
print(new_df)

     version version_season               season_name  season  episode  day  \
0         AU           AU01  Survivor Australia: 2016       1        1    2
1         AU           AU01  Survivor Australia: 2016       1        1    2
2         AU           AU01  Survivor Australia: 2016       1        1    2
3         AU           AU01  Survivor Australia: 2016       1        1    2
4         AU           AU01  Survivor Australia: 2016       1        1    2
...      ...            ...                       ...     ...      ...  ...
7883      US           US43              Survivor: 43      43       13   24
7884      US           US43              Survivor: 43      43       13   25
7885      US           US43              Survivor: 43      43       13   25
7886      US           US43              Survivor: 43      43       13   25
7887      US           US43              Survivor: 43      43       13   25

     tribe_status   tribe castaway    immunity  ... nullified    tie  \
0        Original  Aganoa      Des         NaN  ...     False  False
1        Original  Aganoa     Evan         NaN  ...     False  False
2        Original  Aganoa    Rohan         NaN  ...     False  False
3        Original  Aganoa      Kat         NaN  ...     False  False
4        Original  Aganoa   Phoebe         NaN  ...     False  False
...           ...     ...      ...         ...  ...       ...    ...
7883       Merged    Gaia    Jesse      Hidden  ...     False  False
7884       Merged    Gaia     Owen         NaN  ...     False  False
7885       Merged    Gaia  Cassidy  Individual  ...     False  False
7886       Merged    Gaia   Gabler         NaN  ...     False  False
7887       Merged    Gaia    Jesse         NaN  ...     False  False

     voted_out order vote_order castaway_id vote_id  voted_out_id  winner_id  \
0          Des   1.0        1.0      AU0001  AU0008        AU0001     AU0024
1          Des   1.0        1.0      AU0003  AU0001        AU0001     AU0024
2          Des   1.0        1.0      AU0007  AU0001        AU0001     AU0024
3          Des   1.0        1.0      AU0008  AU0001        AU0001     AU0024
4          Des   1.0        1.0      AU0011  AU0001        AU0001     AU0024
...        ...   ...        ...         ...     ...           ...        ...
7883     Karla  14.0        1.0      US0634  US0636        US0636     US0638
7884     Jesse  15.0        1.0      US0642     NaN        US0634     US0638
7885     Jesse  15.0        1.0      US0627     NaN        US0634     US0638
7886     Jesse  15.0        1.0      US0638     NaN        US0634     US0638
7887     Jesse  15.0        1.0      US0634     NaN        US0634     US0638

     IsWinner
0       False
1       False
2       False
3       False
4       False
...       ...
7883    False
7884    False
7885    False
7886     True
7887    False

[7888 rows x 24 columns]

C:\Users\bejes\AppData\Local\Temp\ipykernel_21428\1396437928.py:12: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  new_df = grouped_votes.apply(check_if_winner).reset_index(drop=True)

In [29]:
# count number of votes for each castaway 
vote_count = vote_history.groupby(['version_season', 'vote_id'])['vote_id'].count().reset_index(name='vote_count')

merged_df = vote_count.merge(winner_df, how='left', on='version_season')
merged_df.dropna(subset=['winner_id'], inplace=True)
# Create a new column indicating if the player is a winner
#merged_df['IsWinner'] = ~merged_df['winner_id'].isna()
grouped_votes = merged_df.groupby('version_season')

# Define a function to determine if a player won in a season
def check_if_winner(group):
    group['IsWinner'] = group['vote_id'] == group['winner_id']
    return group

vote_df = grouped_votes.apply(check_if_winner).reset_index(drop=True)
vote_df = vote_df.rename(columns = {"vote_id" : "castaway_id"})
print(vote_df.head(30))

   version_season castaway_id  vote_count winner_id  IsWinner
0            AU01      AU0001           7    AU0024     False
1            AU01      AU0002           5    AU0024     False
2            AU01      AU0003           5    AU0024     False
3            AU01      AU0004           2    AU0024     False
4            AU01      AU0005          10    AU0024     False
5            AU01      AU0006           6    AU0024     False
6            AU01      AU0007           2    AU0024     False
7            AU01      AU0008          10    AU0024     False
8            AU01      AU0009           6    AU0024     False
9            AU01      AU0010           2    AU0024     False
10           AU01      AU0011          12    AU0024     False
11           AU01      AU0012          15    AU0024     False
12           AU01      AU0013          10    AU0024     False
13           AU01      AU0014          20    AU0024     False
14           AU01      AU0015          11    AU0024     False
15           AU01      AU0016          15    AU0024     False
16           AU01      AU0017           5    AU0024     False
17           AU01      AU0018           4    AU0024     False
18           AU01      AU0019           6    AU0024     False
19           AU01      AU0020           6    AU0024     False
20           AU01      AU0021           9    AU0024     False
21           AU01      AU0022           6    AU0024     False
22           AU01      AU0023           1    AU0024     False
23           AU01      AU0024          11    AU0024      True
24           AU02      AU0025          13    AU0048     False
25           AU02      AU0026           5    AU0048     False
26           AU02      AU0027           7    AU0048     False
27           AU02      AU0028           3    AU0048     False
28           AU02      AU0029           5    AU0048     False
29           AU02      AU0030           9    AU0048     False

C:\Users\bejes\AppData\Local\Temp\ipykernel_21428\1991434037.py:15: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  vote_df = grouped_votes.apply(check_if_winner).reset_index(drop=True)

In [30]:
merged_df = pd.merge(vote_df, castaways[['castaway_id', 'age']], on='castaway_id')
merged_df = pd.merge(merged_df, confessionals[['castaway_id, ']]
print(merged_df)

SyntaxError: '(' was never closed (2716901142.py, line 2)

#### Scatter Plot of Age color-coded by Winner

From this plot we can see that most winners are under around 45 years old. There is one outlier of a winner around 60 years old.

In [ ]:
plt.scatter(merged_df['age'], merged_df['castaway_id'], c=merged_df['IsWinner'].map({False: 'blue', True: 'red'}))
# Set plot labels and title
plt.xlabel('Age')
plt.ylabel('Castaway ID')
plt.title('Scatter Plot of Age (color-coded by IsWinner)')

# Show the plot
plt.show()

In [ ]:
# Create age group bins to represent different age groups 
# Define the age groups and corresponding labels
age_bins = [0, 18, 30, 40, 50, 60, float('inf')]
age_labels = ['<18', '18-30', '30-40', '40-50', '50-60', '60+']

# create new column age_group with age groups based on age 
merged_df['age_group'] = pd.cut(merged_df['age'], bins=age_bins, labels = age_labels, right=False)
print(merged_df)

In [ ]:
# Group the DataFrame by 'Season', 'AgeGroup', and 'IsWinner', and calculate the count
grouped_df = merged_df.groupby(['version_season', 'age_group', 'IsWinner']).size().reset_index(name='Count')

# Pivot the data to have age groups as columns
pivot_df = grouped_df.pivot_table(index='version_season', columns='age_group', values='Count', fill_value=0)

# Plot the number of people in each age group per season, color-coded based on winner status
ax = pivot_df.plot(kind='bar', stacked=True, colormap='coolwarm')

# Set plot labels and title
ax.set_xlabel('Season')
ax.set_ylabel('Number of People')
ax.set_title('Number of People in Age Group per Season (Color-coded on Winner)')

# Show the plot
plt.show()

In [ ]:
# Calculate the correlation coefficient
correlation_matrix = merged_df.corr()

# Create a correlation heatmap
plt.figure(figsize=(8, 6))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')

# Set plot title
plt.title('Correlation Plot')

# Show the plot
plt.show()

### Violin Plot for Age

Most players are between 25-35 years old.

In [ ]:
# Create a violin plot of the age column from the castaways.csv data
sns.violinplot(x=dataframes['castaways.csv']['age'])
plt.show()

### Challenge Types Bar Plot

From this plot, we see that there are a significant larger amount of race challenges and significantly less food, knowledge, memory and fire challenges in our data.

In [ ]:
# Count the number of TRUE values in each column from the 3rd column onward
true_counts = (dataframes['challenge_description.csv'].iloc[:, 2:] == True).sum()

# Create a bar chart showing the number of TRUE values in each column
true_counts.plot(kind='bar')

print(true_counts)

# Add labels and title
plt.xlabel('Column')
plt.ylabel('Number of challanges')
plt.title('Number of each type of challange')

# Rotate x-axis labels by 90 degrees
plt.xticks(rotation=90)

# Show the plot
plt.show()

### Challenge Rewards by Gender

In [ ]:
# Merge challenge_results and castaway_details dataframes on castaway_id
merged_df = pd.merge(dataframes['challenge_results.csv'], dataframes['castaway_details.csv'], on='castaway_id')

# Group data by challenge type and gender and count number of challenges won by each group
grouped_df = merged_df.groupby(['challenge_type', 'gender'])['challenge_id'].count().unstack()

# Create a stacked bar chart
grouped_df.plot.bar(stacked=True)

# Add labels and title
plt.xlabel('Challenge Type')
plt.ylabel('Number of Challenges Won')
plt.title('Number of Challenges Won by Gender')

# Rotate x-axis labels by 90 degrees
plt.xticks(rotation=90)

# Adjust the bottom margin of the plot
plt.gcf().subplots_adjust(bottom=0.2)

# Show the plot
plt.show()

### Challenges Won by Gender

In [ ]:
# Remove the last 2 characters of challange_id so it can be used a primary key
dataframes['challenge_description.csv']['challenge_id'] = dataframes['challenge_description.csv']['challenge_id'].str[:-2]

# Merge challenge_results and castaway_details dataframes on castaway_id
castaway_results = pd.merge(dataframes['challenge_results.csv'], dataframes['castaway_details.csv'], on='castaway_id')

# Merge challenge_results and challenge_description dataframes on challenge_id
challenges = pd.merge(castaway_results, dataframes['challenge_description.csv'], on='challenge_id')

# Count the number of challenge categories won grouped by gender
challenges_counts_grouped = (challenges.set_index('gender').iloc[:, 29:] == True).stack().groupby(level=[0, 1]).sum().unstack(level=0)

print(challenges_counts_grouped)

challenges_counts_grouped = challenges_counts_grouped[['Male', 'Female', 'Non-binary']]

# Create a stacked bar chart
bar_chart_axes = challenges_counts_grouped.plot.bar(stacked=True, color={'Male': '#87CEEB', 'Female': 'pink', 'Non-binary': 'green'})

# Get the challenge types from challenge_description.csv
genders = dataframes['challenge_description.csv'].columns[2:]

# Set the xtick labels to the challenge types
plt.xticks(range(len(genders)), genders, rotation=90)

# Add labels and title
plt.xlabel('Challenge Category')
plt.ylabel('Number of Challenges Won')
plt.title('Number of Challenges Won by Gender')

# Change the order of the legend
handles, labels = bar_chart_axes.get_legend_handles_labels()
bar_chart_axes.legend(reversed(handles), reversed(labels))

# Show the plot
plt.show()

In [ ]:
# Count the number of challenge categories won grouped by gender but with gender on the x axis
challenges_counts_grouped = (challenges.iloc[:, 29:] == True).groupby(challenges['gender']).sum()

# Change the column name from 'race_y' to 'race'
challenges_counts_grouped = challenges_counts_grouped.rename(columns={'race_y': 'race'})

# Create a dictionary of colors for each challenge type
colors = {
    'water': '#1E90FF', # dodger blue
    'fire': '#FF4500', # orange red
    'memory': '#FFDAB9', # peach puff
    'knowledge': '#4B0082', # indigo
    'food': '#FF69B4', # hot pink
    'balance': '#00BFFF', # deep sky blue
    'turn_based': '#8B008B', # dark magenta
    'strength': '#8B0000', # dark red
    'endurance': '#228B22', # forest green
    'precision': '#00FF7F', # spring green
    'race': '#FFD700', # gold
    'puzzle': '#FFA500' # orange
}

# Create a stacked bar chart
bar_chart_axes = challenges_counts_grouped.plot.bar(stacked=True, color=colors)

# Get the gender categories for the x axis labels
genders = dataframes['castaway_details.csv']['gender'].unique().tolist()

# Set the xtick labels to the challenge types
plt.xticks(range(len(genders)), genders, rotation=90)

# Add labels and title
plt.xlabel('Gender')
plt.ylabel('Number of Challenges Won')
plt.title('Number of Challenges Won by Gender')

# Change the order of the legend
handles, labels = bar_chart_axes.get_legend_handles_labels()
bar_chart_axes.legend(reversed(handles), reversed(labels))

# Show the plot
plt.show()

### Season Palettes

In [ ]:
# assuming your DataFrame is named df
colors = dataframes['season_palettes.csv']['palette']
colors = colors.dropna() # Remove any nan values from the colors variable

# Get the unique season values and sort them in ascending order
seasons = dataframes['season_palettes.csv']['season'].unique()
seasons.sort()

# Set the spacing between different season values
spacing = 0.9

fig, ax = plt.subplots()
for season in seasons:
    # Get the colors for the current season
    season_colors = dataframes['season_palettes.csv'][dataframes['season_palettes.csv']['season'] == season]['palette']
    season_colors = season_colors.dropna() # Remove any nan values from the season_colors variable
    n_colors = len(season_colors)
    
    for i, color in enumerate(season_colors):
        ax.add_patch(plt.Rectangle((i/n_colors + (season-1)*(1+spacing), 0), 1/n_colors, 1, color=color))
ax.set_xlim(0, len(seasons)*(1+spacing)-spacing)
ax.set_ylim(0, 1)
ax.axis('off')
plt.show()

### Tribe Colors

In [ ]:
dataframes['tribe_colours.csv']['tribe_status'] = dataframes['tribe_colours.csv']['tribe_status'].astype('category')

# assuming your DataFrame is named df
colors = dataframes['tribe_colours.csv']['tribe_colour']
n_colors = len(colors)

fig, ax = plt.subplots()
for i, color in enumerate(colors):
    ax.add_patch(plt.Rectangle((i/n_colors, 0), 1/n_colors, 1, color=color))
ax.set_xlim(0, 1)
ax.set_ylim(0, 1)
ax.axis('off')
plt.show()

In [ ]:
df = dataframes['tribe_colours.csv'][dataframes['tribe_colours.csv']['version_season'] == 'AU01']
# Create a count plot
sns.countplot(data=df, x='tribe_status', hue='tribe_colour', palette=sns.color_palette(df['tribe_colour'].unique()))

# Show the plot
plt.show()

### Viewers over time

In [ ]:
# Create a line plot of viewers over time
fig, ax1 = plt.subplots()
sns.lineplot(data=dataframes['viewers.csv'], x='episode_date', y='viewers', ax=ax1)

# Create a secondary y-axis on the right side of the chart
ax2 = ax1.twinx()

# Create a line plot of imdb_rating over time on the secondary y-axis
sns.lineplot(data=dataframes['viewers.csv'], x='episode_date', y='imdb_rating', ax=ax2, color='g')

# Set the y-axis labels
ax1.set_ylabel('Viewers')
ax2.set_ylabel('IMDB Rating')

# Set the title of the chart
plt.title('Viewers and IMDB rating for each episode over time')

plt.show()